<header>
  <div class="titles">
    <a>Courses</a>
    <a>Students</a>
    <a>Teachers</a>
    <a>Topics</a>
  </div>
  <div class ="nav">
    <button type="button" class="btn btn-primary">get all</button>
    <button type="button" class="btn btn-primary">new</button>
    <button type="button" class="btn btn-primary">get all</button>
    <button type="button" class="btn btn-primary">new</button>
    <button type="button" class="btn btn-primary">get all</button>
    <button type="button" class="btn btn-primary">new</button>
    <button type="button" class="btn btn-primary">get all</button>
    <button type="button" class="btn btn-primary">new</button>
  </div>
</header>