<header>
  <div class="titles">
    <a>Courses</a>
    <a>Students</a>
    <a>Teachers</a>
    <a>Topics</a>
  </div>
  <div class ="nav">
    <button type="button" class="btn btn-primary" (click)="navigateTo('courses')">See All</button>
    <button type="button" class="btn btn-primary" (click)="navigateTo('students')">See All</button>
    <button type="button" class="btn btn-primary" (click)="navigateTo('teachers')">See All</button>
    <button type="button" class="btn btn-primary"(click)="navigateTo('topics')">See All</button>
  </div>
</header>

<main class="m-4">
  <router-outlet></router-outlet>
</main>