<button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newModal"><i class="bi-floppy-fill"></i> Create New</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>BIRTH DATE</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of listStudents">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.birth_date}}</td>
            <td>
                <button type="button" (click)="selectStudent(student.id)" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal"><i class="bi-pencil"></i></button>
                <button type="button" (click)="selectStudent(student.id)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi-trash3"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new teacher</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form class="m-2">
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="name" [(ngModel)]="newStudent.name" name="name">
                  <label for="name">Name</label>
              </div>
              <div class="form-floating mb-3">
                  <input type="date" class="form-control" id="teacher code" [(ngModel)]="newStudent.birth_date" name="birth date">
                  <label for="birth date">Birth Date</label>
              </div>
          </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi-x-lg"></i> Cancel</button>
          <button type="button" class="btn btn-success" (click)="new()" data-bs-dismiss="modal"><i class="bi-check-lg"></i> Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div *ngIf="selectedStudent" class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Student {{selectedStudent.id}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="m-2">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" [(ngModel)]="selectedStudent.name" name="name">
                    <label for="name">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="birth_date" [(ngModel)]="selectedStudent.birth_date" name="birth_date">
                    <label for="birth_date">Birht Date</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi-x-lg"></i> Cancel</button>
            <button type="button" class="btn btn-success" (click)="edit()" data-bs-dismiss="modal"><i class="bi-check-lg"></i> Confirm</button>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div *ngIf="selectedStudent" class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Teacher {{selectedStudent.id}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>Do you want to delete the teacher: {{selectedStudent.name}}?</p>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi-x-lg"></i> NO</button>
          <button type="button" (click)="delete()" class="btn btn-success" data-bs-dismiss="modal"><i class="bi-check-lg"></i> YES</button>
      </div>
    </div>
  </div>
</div>