<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>teacher code</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let teacher of listTeachers">
            <td>{{teacher.id}}</td>
            <td>{{teacher.name}}</td>
            <td>{{teacher.teacher_id}}</td>
            <td>
                <button type="button" class="btn btn-warning"><i class="bi-pencil"></i></button>
                <button type="button" class="btn btn-danger"><i class="bi-trash3"></i></button>
            </td>
        </tr>
    </tbody>
</table>
